/*STYLE CSS PAGE D'ACCUEIL*/

/*MISE EN PAGE GLOBALE*/
/*marges colonnes*/
div.row {
	margin : 20px 0 30px 0;
}
/*marges colonnes*/
div.mainPage{
	margin-top: 40px;
}
/**************/

/*NAVBAR*/
/*marges colonnes*/
i.material-icons{
	font-size: 22px;
	color : red;
}

/**.icon-blue {color: #0088cc}
i {   
    width:100px;
    text-align:center;
    vertical-align:middle;
    position: relative;
}
.badge:after{
    content:"100";
    position: absolute;
    background: rgba(0,0,255,1);
    height:2rem;
    top:5px;
    right:1.5rem;
    width:2rem;
    text-align: center;
    line-height: 2rem;;
    font-size: 1rem;
    border-radius: 50%;
    color:white;
    border:1px solid blue;
}*/
/**************/

/*TITRE*/
/*image titre*/
div.container_title{
	background: url(../img/snapchat.jpg) no-repeat center;
	height: 500px;
}
/*texte titre*/
h2 {
	margin-top: 0;
	padding-top: 50px;
	font-size: 50px;
	color: rgb(75, 75, 75);
}
/************/

/*ZONE DE TEXTE INTERMEDIAIRE*/
/*paragraphe*/
p.homePage {
    color: darkgrey;
    font-family: verdana;
    font-size: 16px;
}
/*image vignette*/
div img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    margin-bottom: 20px;
}
/***************/

/*FOOTER*/
/*épaisseur du footeur*/
footer{
	padding: 30px;
}
/*alignement des objets du footer*/
footer li{
	display: inline-block;
	margin: 10px;
	padding:0 20px 0 20px;
}
/*********************/

/* pour faire des commentaires*/

